/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 20px;
    top: 20px;
    padding: 3px;
    transform: scale(0.8)
  }

  /* Color/shape of burger icon bars */
  .bm-burger-button .bm-burger-bars {
    background: #e4e1e8;
    opacity: 1 !important;
  }
  .bm-burger-button:hover .bm-burger-bars {
    background: #bc105e;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: #443244;
    font-size: 1.15em;
  }
  .bm-menu-wrap {
    top: 0;
    left: 0;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    left: 0;
    top: 0;
  }

  /* Styling for menu-items */
  .menu-item {
    font-size: .8em;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    color: #a19fa3;
    font-weight: 700;
    letter-spacing: 1px;
    transition: all .5s ease;
    text-align: center;
    border-top: 1px dashed #a19fa3; 
  }
  .menu-item:last-child {
    border-bottom: 1px dashed #a19fa3; 
  }
  .menu-item:hover {
    color: #bc105e;
  }

  #about-me {
    text-align: center;
    font-size: .9em;
    height: 250px;
    letter-spacing: .5px;
    padding-top: 10vh;
    padding-bottom: 10vh;
  }
  #text-about-me {
    padding: 10px;
  }
  #img-about-me {
    height: 200px;
  }
  .img-circle {
    border-radius: 50%;
    border: 2px solid #b8b7ad;
    height: 180px;
    width:180px;
  }
  .nav {
    padding-bottom: 20px;
  }