.about {
    flex: 1;
    display: flex;
    flex-flow: column;
    justify-content: center;
    background-color: white;
}
.about ul {
    margin: 0;
    list-style: outside;
    padding-left: 1em;
}
.about-text-photo {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0px 50px 0px 50px;
}
.about-text-photo .about-intro {
    padding: 20px;
}
.about-intro {
    flex: 1;
    align-self: stretch;
    color: #442944;
    padding: 20px 50px 20px 50px;
    display: flex;
    flex-direction: column;
}
.about-intro h2 {
    margin-top: 0;
    margin-bottom: 0;
    border: 2px solid;
    border-radius: 10px;
    font-weight: 700;
    background-color: rgb(68, 41, 68, 0.2);
}
.about-description {
    line-height: 1.5em;
    text-align: justify;
}
.about-description p:first-child {
    margin-top: 0;
}
.about-description a {
    display: inline;
}
.about-photo {
    flex: 1;
    align-self: center;
}
.about-photo img {
    max-width: 500px;
    border: 4px solid #442944;
    border-radius: 20px;
}
.skills-icons i {
    padding: 10px;
}
.main-title {
    color: #442944;
    padding: 20px 50px 20px 50px;
}
.about-places:last-child {
    padding-bottom: 20px;
}

@media all and (max-width:850px) {
    .about {
        flex-direction: column;
    }
    .about-contents {
        flex-direction: column;
    }
    .about-intro {
        padding: 10px 20px 10px 20px !important;
    }
    .about-photo img {
        max-width: 300px !important;
    }
    .about-intro h2 {
        margin-top: 20px;
    }
    .main-title {
        padding: 10px 0px 10px 0px;
    }
    .about-text-photo {
        padding: 10px;
    }
}
@media all and (min-width:1400px) {
    .about {
        max-width: 1400px;
    }
}
