.content {
    flex: 1;
    align-items: stretch;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    display: flex;
    justify-content: center;
}
a {
    text-decoration: none;
    color: #bc105e;
    display: block;
    font-weight: 800;
}