.content {
    flex: 1;
    align-items: stretch;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    display: flex;
}
a {
    text-decoration: none;
    color: #e4e1e8;
    opacity: 0.8;
    display: block;
}
a:hover {
    opacity: 1;
    font-weight: 800;
}