.contact {
    flex: 1;
    display: flex;
    justify-content: center;
}
.container {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #6c6a6d;
    box-shadow: 3px 3px 5px 2px #6f507f;
}
