.contact {
    flex: 1;
    display: flex;
    justify-content: center;
    background: url("../../img/home-rose-opacity.jpg");
    background-size: cover;
    filter: alpha(opacity=50);
}
.container {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid #6c6a6d;
    box-shadow: 3px 3px 5px 2px #6f507f;
}
