.header {
    position: sticky;
    top: 0;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #442944;
    z-index: 900;
    display: flex;
    justify-content: flex-end;
}
.header-title {
    flex: 0 1 auto;
    align-self: flex-end;
    padding-right: 30px;
    font-size: 30px;
    font-weight: 700;
}
.header-title a {
    display: block;
    color: #e4e1e8;
}
.header-title a:hover {
    color: #bc105e;
}



  