.home {
    flex: 1;
    display: flex;
    flex-flow: row wrap;
    background-color: white;
}
.home-intro {
    flex: 1;
    align-self: stretch;
    color: #442944;
    margin: 50px 0px 50px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.description {
    flex: 1;
}
.description img {
    max-width: 150px;
}
.title-h1 h1 {
    margin-top: 0;
}
.navigation {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: center;
    padding: 10px;
}
.home-photo {
    flex: 1;
    align-self: center;
}
.home-photo img {
    max-width: 450px;
}
@media all and (max-width:850px) {
    .home {
        flex-direction: column;
    }
    .home-intro {
        margin: 50px 50px 0px 50px;
    }
    .home-photo {
        padding-bottom: 20px;
    }
}