.nav-item {
    padding: 10px;
    color: #bc105e;
    font-weight: 900;
    font-size: 25px;
    width: 140px;
    height: 40px;
    border-bottom: 3px solid transparent;
}
.nav-item:hover {
    border-bottom: 3px solid #bc105e;
}